.formPage {
    width: 30%;
    margin: 5rem auto;
    margin: 5rem auto;
    background: rgb(54,57,61);
    padding: 1rem;
    border-radius: 5px;
};

.formPage .btn-light {
    display: inline-block;
    margin-left: 20rem;
    width: 2rem;
    background: none;   
}